@model IS_BuildFirm.Models.Schedule
@{
    ViewBag.Title = "Деталі графіка";
}
<h2 style="text-align:center">Деталі графіка №@Model.Id</h2>
<div class="details">
    <h5>Адреса: @Model.Address</h5>
    <h6>Бригада: @Model?.Brigade?.Name</h6>
    <p>Початкова дата: @Model.StartDate</p>
    <p>Кінцева дата: @Model.EndDate</p>
</div>
<div class="form-group">
    <a asp-controller="Schedule" asp-action="Back" class="btn btn-primary">Назад</a>
</div>
