<div  style="width: 80%;">
<h2 style="text-align:center; color: #2b78e1">Інформаційна Система Будівельної Фірми.</h2>

</div>

<div style="width: 80%;margin: 10px 0; padding: 10px; box-shadow: rgb(221 255 251) 10px 10px inset;">
    <h6>
        Інформаційна система відмінно підійде для майстрів чи бригад будівельників, достатньо лише зареєструватись та увійти, щоб мати можливість керувати додаванням, редагуванням чи видаленням працівника, а також будувати графік задач та вказувати бригади і спеціальності.
    </h6>
</div>


<div>
    <h5>На даному сайті можна обрати:</h5>
    <a class="form-control" style="font-weight:bold; width: 80%; font-size: 18px; background-color: rgb(221 255 251)" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
    <br>                           
    <a class="form-control" style="font-weight:bold; width: 80%; font-size: 18px; background-color: rgb(221 255 251)" asp-area="" asp-controller="Speciality" asp-action="Index">Спеціальності</a>
    <br>                           
    <a class="form-control" style="font-weight:bold; width: 80%; font-size: 18px; background-color: rgb(221 255 251)" asp-area="" asp-controller="Brigade" asp-action="Index">Бригади</a>
    <br>                           
    <a class="form-control" style="font-weight:bold; width: 80%; font-size: 18px; background-color: rgb(221 255 251)" asp-area="" asp-controller="Builder" asp-action="Index">Робітники</a>
    <br>                            
    <a class="form-control" style="font-weight:bold; width: 80%; font-size: 18px; background-color: rgb(221 255 251)" asp-area="" asp-controller="Schedule" asp-action="Index">Графік</a>
</div>









