@model IS_BuildFirm.ViewModels.BuilderViewModel
@{
    ViewData["Title"] = "Додати робітника";
}

<h2 style="text-align:center">Додати робітника</h2>

<form asp-action="Create" asp-controller="Builder" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Builder.Lastname"></label><br />
        <input asp-for="Builder.Lastname" class="form-control" placeholder="Прізвище робітника..." />
        <span asp-validation-for="Builder.Lastname"></span>
    </div>
    <div class="form-group">
        <label asp-for="Builder.Firstname"></label><br />
        <input asp-for="Builder.Firstname" class="form-control" placeholder="Ім'я робітника..." />
        <span asp-validation-for="Builder.Firstname"></span>
    </div>
    <div class="form-group">
        <label asp-for="Builder.Middlename"></label><br />
        <input asp-for="Builder.Middlename" class="form-control" placeholder="По-батькові робітника..." />
        <span asp-validation-for="Builder.Middlename"></span>
    </div>
    <div class="form-group">
        <label asp-for="Builder.Phone"></label><br />
        <input asp-for="Builder.Phone" class="form-control" placeholder="Номер робітника..." />
        <span asp-validation-for="Builder.Phone"></span>
    </div>
    <div class="form-group">
        <label>Номер спеціальності</label><br />
        <input asp-for="SpecialityId" class="form-control" placeholder="Номер спеціальності..." />
        <span asp-validation-for="SpecialityId"></span>
    </div>
    <div class="form-group">
        <label>Номер бригади</label><br />
        <input asp-for="BrigadeId" class="form-control" placeholder="Номер бригади..." />
        <span asp-validation-for="BrigadeId"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-primary">
        <a asp-controller="Builder" asp-action="Back" class="btn btn-primary">Відхилити</a>
    </div>

</form>

