@model IS_BuildFirm.Models.Brigade
@{
    ViewData["Title"] = "Змінити дані про бригаду";
}

<h2 style="text-align:center">Змінити дані про бригаду №<span>@Model.Id</span></h2>

<form method="post" asp-action="Edit" asp-controller="Brigade" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Name"></label><br />
        <input asp-for="Name" class="form-control" placeholder="Назва бригади..." />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-primary">
        <a asp-controller="Brigade" asp-action="Back" class="btn btn-primary">Відхилити</a>
    </div>
</form>

